html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    background: linear-gradient(235deg, #a4f3ff, #a3affa); /* Add a gradient background */
}

:root {
    --background-color: lightblue;
    --padding: 10px;
    --button-color: rgb(81, 81, 250);
    --button-margin: 10px;
}

.container {
    width: 60%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.turn-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    cursor: pointer;
    width: 5rem;
    transition: background-color 0.2s;
}

.turn-button:hover {
    background-color: #293fbc;
}

.help-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.help-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.stone-image {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.2s;
    box-shadow: 0.05rem 0.05rem 5px rgba(0, 0, 0, 0.5); /* Add a shadow for a 3D effect */
}

.stone-button {
    width: 2rem; /* Set the width using rem units */
    height: 2rem; /* Set the height using rem units */
    background-image: url('nim/images/stone.png'); /* Set the background image */
    background-size: cover; /* Ensure the image covers the entire button */
    background-color: rgba(0, 0, 0, 0); /* Set the background color to transparent */
    background-position: center; /* Center the background image */
    border: none; /* Remove the default border */
    border-radius: 50%; /* Make the button round */
    margin: 0.1rem;
    cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.2s; /* Smooth transition for scaling */
}

.stone-button:hover, .stone-button:hover ~ .stone-button {
    transform: scale(1.1); /* Scale up the button on hover */
    opacity: 0.9; /* Reduce opacity on hover */
}

.stone-button:disabled {
    opacity: 0.5; /* Make the button transparent */
    cursor: not-allowed; /* Change cursor to not-allowed */
}

.nim-container {
    padding: var(--padding);
    margin-top: 0.5rem;
    width: 30rem;
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.pile-column {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 1.5rem;
}

.status-message {
    justify-self: center;
}

.opacity-0 {
    opacity: 0.5;
    transition: opacity 0.5s ease-out
}

.fade-out {
    opacity: 1;
    transition: opacity 0.5s ease-out; /* Smooth transition for opacity */
}

.fade-out.removing {
    opacity: 0;
}
